<div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="text-align: center; font-size: 20px;line-height: 41px;
            margin-bottom: -16px;margin-top: 12px;" >CRUD Function for Employee </b></h2>
        </div>
        <div class="col-sm-6">
               
               
            </div>
        <div class="col-sm-6">
            <a class="btn btn-success <%= path === '/admin/add-employee'%>" href="/admin/add-employee" > Add New Employee</a>
            
        </div>
    </div>
</div>